* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cell {
  position: relative;
	border: 1px solid black;
}

.inventory {
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
	margin-left: 100px;
}

.modal-inventory {
  position: absolute;
  border: 3px solid black;
}

.ReactModal__Overlay {
  inset: unset !important;
  top: 35% !important;
  left: 50% !important;
  z-index: 1 !important;
}

.modal-inventory-header {
  color: white;
  background: black;
  display: flex;
  justify-content: space-between;
}

.header-text {
  pointer-events: none;
}

.close-button {
  cursor: pointer;
  user-select: none;
  border: none;
  background: red;
}

.modal-inventory .inventory {
  margin-left: 0;
  background: gray;
}

.modal-inventory-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.container {
  position: relative;
	min-height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
}

.item-child {
  cursor: pointer;
  user-select: none;
	position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(128, 0, 128, 0.3);
}

.item-child .item-child--dragging {
  background: unset;
}

.item-content {
  position: relative;
  z-index: 1;
  color: white;
  margin-right: 2px;
  font-size: 12px;
  text-align: right;
}

.background {
  top: 0;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.dragging {
  position: static;
}