* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cell {
  position: relative;
	border: 1px solid black;
}

.inventory {
  position: relative;
	margin-left: 100px;
}

.modal-inventory {
  position: absolute;
}


.modal-inventory .inventory {
  margin-left: 0;
  background: gray;
}

.container {
  position: relative;
	min-height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
}

.item-child {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-content {
  color: white;
  font-size: 12px;
  text-align: right;
}

.dragging {
  position: static;
}